---
import "../../styles/admin.css";
import { isAuthenticated, verifySession } from "../../lib/auth";


if (!isAuthenticated(Astro.cookies)) {

	return Astro.redirect("/admin");

}


const token =
	Astro.cookies.get("admin_session")?.value;


const session =
	token
		? verifySession(token)
		: null;


const username =
	typeof session === "object" && session
		? session.username
		: "Admin";

---

<html>

<head>

	<title>
		YidCraft Admin Dashboard
	</title>

</head>


<body>


<div class="admin-container">


	<div class="card">


		<h1>
			Welcome, {username}
		</h1>


		<p>
			Manage your YidCraft Wiki from here.
		</p>



		<br>



		<h2>
			Wiki Pages
		</h2>


		<a class="button" href="/admin/pages">

			Manage Wiki Pages

		</a>



		<br><br>



		<h2>
			Blog
		</h2>


		<a class="button" href="/admin/blog/create">

			Create Blog Post

		</a>



		<br><br>


		<a class="button" href="/admin/blog">

			Manage Blog Posts

		</a>



		<br><br>



		<h2>
			Media
		</h2>


		<a class="button" href="/admin/uploads">

			Upload Images

		</a>



		<br><br><br>



		<a class="button" href="/api/logout">

			Logout

		</a>


	</div>


</div>


</body>


</html>